.content {
  margin-left: auto;
  margin-top: 80px;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  #intro {
    p {
      display: inline-block;
      margin-bottom: 15px;
      text-align: left;
      width: 70%;
    }
  }
  #chart1,
  #chart2 {
    display: inline-block;
    width: 60%;
  }
  .hed {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  .subhed {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .text {
    p {
      display: inline-block;
      margin-bottom: 15px;
      text-align: left;
      width: 80%;
    }
  }
}
